<!DOCTYPE html>
<html>
    <head>
        <title>Course Scheduler</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>File Upload</h1>
        <form enctype="multipart/form-data" action="/upload" method="post">
            <input type="text" name="email"/>
            <label for="email">Email</label>
            <br>
            <input type="file" name="student-requests"/>
            <label for="student-requests">Student Requests</label>
            <br>
            <input type="file" name="teacher-qualifs"/>
            <label for="teacher-qualifs">Teacher Qualifications</label>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>