<!DOCTYPE html>
<html>
    <head>
        <title>Course Scheduler</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <script>
            function get_api_key() {
                return await(fetch("/get_new_key")).text()
            }

            function send_file() {
                // TODO: send the file
            }
        </script>

        <h1>File Upload</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="input_file">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>